@charset "UTF-8";
.body {
  font-family: 'roboto';
}

.header__index__reservez, .main__titre, .section__titre {
  font-family: 'Shirkhand' !important;
  height: 100%;
}

.header__index__logo {
  height: 30px;
  padding: 15px;
}

.header__index__localisation {
  background-color: #e7e3e3;
  padding: 20px 0;
  font-size: 20px;
}

.header__index__localisation__icone {
  margin-right: 20px;
}

.header__index__localisation__texte {
  font-weight: 900;
}

.header__index__logo, .header__index__localisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.header__index__slogan {
  background-color: #f1eded;
  padding: 25px 0 55px 0;
}

.header__index__reservez > p {
  font-size: 34px;
  font-weight: 900;
  margin: 20px 70px;
  text-align: center;
}

.header__index__decouvrez {
  font-size: 26px;
  font-weight: 500;
  margin: 0 20px;
  text-align: center;
}

.header__index__explorez {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__index__explorez > button {
  font-size: 20px;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  white-space: nowrap;
  border-radius: 40px;
  padding: 15px 20px;
  color: #fff;
  cursor: pointer;
  -webkit-box-shadow: 0px 9px 15px -3px #90A6A6;
  box-shadow: 0px 9px 15px -3px #90A6A6;
  background: -webkit-gradient(linear, left top, left bottom, from(#9e2c8f), to(#e470da));
  background: linear-gradient(#9e2c8f, #e470da);
}

.header__index__explorez > button:hover {
  opacity: 0.8;
  -webkit-box-shadow: 0px 9px 15px 5px #90A6A6;
  box-shadow: 0px 9px 15px 5px #90A6A6;
}

.fonctionnement {
  margin: 80px 0 20px 20px;
  font-weight: 1000;
}

.main, .header__slogan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main__choisissez, .main__composez, .main__degustez {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 30px;
  background-color: #f1eded;
  -webkit-box-shadow: 7px 5px 5px -1px #90A6A6;
  box-shadow: 7px 5px 5px -1px #90A6A6;
  padding: 20px;
  border-radius: 50px;
  gap: 10px;
  width: 70%;
  position: relative;
}

.main__choisissez:hover, .main__composez:hover, .main__degustez:hover {
  -webkit-box-shadow: #90A6A6 5px 5px 5px 5px;
          box-shadow: #90A6A6 5px 5px 5px 5px;
  background-color: #f6f6f6;
  color: #9356DC;
  /*comment cibler uniquement les icones 
      lorsque hover car le changement se produit sur le bouton
      pointer  events?*/
}

.main__nombre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  background: #9356DC;
  color: white;
  height: 30px;
  border-radius: 100%;
  margin-top: 5px;
  position: absolute;
  left: -20px;
  padding-top: 5px;
}

.material-icons {
  padding-top: 5px !important;
  font-size: 30px !important;
}

.main__text {
  padding-top: 10px;
  font-size: 22px;
  font-weight: 900;
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #f1eded;
}

.section .section__titre {
  font-size: 40px;
  margin: 20px 0 20px 20px;
}

.section__palette, .section__note, .section__french, .section__delice {
  border: 1px solid white;
  margin: 20px;
  border-radius: 25px;
  position: relative;
}

.section__palette__lien, .section__note__lien, .section__french__lien, .section__delice__lien {
  /*cela ne amrche pas*/
  text-decoration: none;
}

.section__palette__lien__carte {
  position: relative;
  /*marche pas help!*/
}

.section__palette__lien__carte__img, .section__note__lien__carte__img, .section__french__lien__carte__img, .section__delice__lien__carte__img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  height: 300px;
  border-radius: 25px 25px 0 0;
}

.section__palette__lien__carte__nouveau, .section__note__lien__carte__nouveau {
  position: absolute;
  /*a voir avec julien text deco qui ne marche pas*/
  top: 40px;
  right: 50px;
  text-decoration: none;
  outline: none;
  color: green;
  background-color: #99E2D0;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 20px;
}

.section__palette__lien__carte__intitule__titre, .section__note__lien__carte__intitule__titre, .section__french__lien__carte__intitule__titre, .section__delice__lien__carte__intitule__titre {
  text-decoration: none;
  font-size: 26px;
  font-weight: 600;
  color: black;
  margin: 0 0 0 20px;
}

.section__palette__lien__carte__intitule__lieu, .section__note__lien__carte__intitule__lieu, .section__french__lien__carte__intitule__lieu, .section__delice__lien__carte__intitule__lieu {
  font-size: 24px;
  margin: 10px 0 16px 20px;
}

.fa-heart {
  /*pb avec le coeur de la palette du gout
        en retirant l'imbrication section{ avant fa_heart, le
        coeur de la palette a bougé mais cela est tjrs incorect
        */
  position: absolute;
  bottom: 50px;
  right: 50px;
  font-size: 35px;
  color: black;
  font-weight: 300;
}

.footer {
  background-color: #3d3434;
  padding: 20px 0 30px 20px;
  color: white;
}

.footer .footer__logo__img {
  height: 25px;
  -webkit-filter: invert(1);
  filter: invert(1);
}

.footer__proposer, .footer__devenir, .footer__mentions, .footer__contact {
  margin: 10px;
}

.fa-utensils {
  padding-right: 10px;
}

.fa-hands-helping {
  -webkit-transform: rotate(345deg);
  transform: rotate(345deg);
  font-size: 15px;
}
/*# sourceMappingURL=index.css.map */