@charset "UTF-8";
.body {
  font-family: 'roboto';
}

.header__reservez, .main__titre, .section__titre {
  /*xiste-t-il une règle exception (pour tout le reste du html? chgt police*/
  font-family: 'Shirkhand' !important;
  height: 100%;
}

.header__logo {
  height: 30px;
  padding: 15px;
}

.header__localisation {
  background-color: #e7e3e3;
  padding: 20px 0;
  font-size: 20px;
  font-weight: bold;
}

.header__localisation__icone {
  margin-right: 20px;
}

.header__logo, .header__localisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__slogan {
  background-color: #f1eded;
  padding: 25px 0 55px 0;
}

.header__reservez > p {
  font-size: 34px;
  font-weight: 900;
  margin: 20px 70px;
  text-align: center;
}

.header__decouvrez {
  font-size: 26px;
  font-weight: 500;
  margin: 0 20px;
  text-align: center;
}

.header__explorez > button {
  font-size: 20px;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  white-space: nowrap;
  border-radius: 40px;
  padding: 15px 20px;
  color: #fff;
  cursor: pointer;
  background-color: pink;
}

.fonctionnement {
  margin: 80px 0 20px 10px;
  font-weight: 1000;
}

.main, .header__slogan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__choisissez, .main__composez, .main__degustez {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px;
  background: #f6f6f6;
  -webkit-box-shadow: #a0249a 5px 5px 5px 5px;
          box-shadow: #a0249a 5px 5px 5px 5px;
  padding: 20px;
  border-radius: 50px;
  gap: 10px;
}

.main__nombre {
  display: inline-block;
  width: 20px;
  background: #00ff40;
  height: 20px;
  text-align: center;
  border-radius: 100%;
}

.main__button {
  padding: 30px 70px;
  border-radius: 40px;
}

.main__button .main__icon {
  padding-right: 30px;
}

.main__text {
  margin-bottom: 20px;
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section .section__titre {
  font-size: 24px;
}

.section__palette, .section__note, .section__french, .section__delice {
  border: 1px solid red;
  margin: 20px;
  border-radius: 25px;
  position: relative;
}

.section__palette__lien, .section__note__lien, .section__french__lien, .section__delice__lien {
  /*cela ne amrche pas*/
  text-decoration: none;
}

.section__palette__lien__carte {
  position: relative;
  /*marche pas help!*/
}

.section__palette__lien__carte__img, .section__note__lien__carte__img, .section__french__lien__carte__img, .section__delice__lien__carte__img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 300px;
  border-radius: 25px 25px 0 0;
}

.section__palette__lien__carte__nouveau, .section__note__lien__carte__nouveau {
  position: absolute;
  /*a voir avec julien text deco qui ne marche pas*/
  top: 50px;
  right: 50px;
  text-decoration: none;
  outline: none;
  color: green;
  background-color: #11da2c;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 20px;
}

.section__palette__lien__carte__intitule__titre, .section__note__lien__carte__intitule__titre, .section__french__lien__carte__intitule__titre, .section__delice__lien__carte__intitule__titre {
  text-decoration: none;
  font-size: 26px;
  font-weight: 600;
  color: black;
  margin: 0 0 0 20px;
}

.section__palette__lien__carte__intitule__lieu, .section__note__lien__carte__intitule__lieu, .section__french__lien__carte__intitule__lieu, .section__delice__lien__carte__intitule__lieu {
  font-size: 24px;
  margin: 10px 0 16px 20px;
}

.section {
    .fa-heart {
        /*pb avec le coeur de la palette du gout*/
        position: absolute;
        bottom: 50px;
        right: 50px;
        font-size: 35px;
        color: black;
        font-weight: 300;
    }
}


.footer {
  background-color: #3d3434;
  padding: 20px 0 30px 20px;
  color: white;
}

.footer .footer__logo__img {
  height: 25px;
  -webkit-filter: invert(1);
          filter: invert(1);
}

.footer__proposer, .footer__devenir, .footer__mentions, .footer__contact {
  margin: 10px;
}

.fa-utensils {
  padding-right: 10px;
}

.fa-hands-helping {
  -webkit-transform: rotate(345deg);
          transform: rotate(345deg);
  font-size: 15px;
}
/*# sourceMappingURL=style.css.map */