@charset "UTF-8";
.body {
  font-family: 'roboto';
}

.menu__nomrestaurant {
  font-family: 'Shrikhand' !important;
  height: 100%;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.header__arrow {
  position: absolute;
  left: 10px;
  top: 20px;
}

.header__logo > img {
  height: 30px;
  padding: 15px;
}

.image__restaurant__lapalette > img, .image__restaurant__lanote > img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu {
  position: relative;
  bottom: 50px;
  background-color: #e2d6d6;
  border-radius: 50px 50px 0 0;
  padding: 0 20px 80px 20px;
}

.menu__titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 30px;
  padding: 40px 0 0 0;
}

.fa-heart {
  font-size: 20px;
  font-weight: 100;
  /*pb pour changer la graisse de l'icone*/
}

.entrees__titre, .plats__titre, .desserts__titre {
  font-size: 20px;
  margin-top: 40px;
}

.entrees__titre__souligne, .plats__titre__souligne, .desserts__titre__souligne {
  padding-bottom: 5px;
  border-bottom: 3px solid #68ce68;
}

.entrees__titre {
  margin-bottom: 30px;
}

@-webkit-keyframes fade {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes fade {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

.entrees__carte, .plats__carte, .desserts__carte {
  background-color: white;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
  -webkit-box-align: last baseline;
      -ms-flex-align: last baseline;
          align-items: last baseline;
  font-size: 20px;
  -webkit-animation: fade 1s;
  animation: fade 1s;
}

.entrees__carte__menu, .plats__carte__menu, .desserts__carte__menu {
  margin: 0;
  /*inutile*/
}

.entrees__carte__menu__plat, .plats__carte__menu__plat, .desserts__carte__menu__plat {
  margin: 0;
  font-weight: 900;
  /* pb ici, le font weight est au max mais n'est tjrs pas assez gras/maquette*/
}

.entrees__carte__menu__accompagnement, .plats__carte__menu__accompagnement, .desserts__carte__menu__accompagnement {
  margin: 5px 0 5px 0;
  font-size: smaller;
  font-weight: lighter;
}

.entrees__carte__menu__prix {
  cursor: -webkit-grab;
  cursor: grab;
}

.entrees__carte__menu__prix:hover {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
}

.commander {
  display: block;
  background-color: #9e2c8f;
  margin: auto;
  padding: 20px 60px;
  font-size: 25px;
  color: white;
  border-radius: 55px;
}

/*pour le footer, le pb sera réglé quand lien vers scss car m^me règles que pour page d'accueil*/
/*# sourceMappingURL=menu.css.map */