.footer{
    background-color:rgb(114, 52, 52) ;
    padding:20px 0 30px 20px;
    color:white;
   
        .footer__logo__img{
            height:25px;
            filter: invert(1);
        }
}

.footer__proposer, .footer__devenir, .footer__mentions,.footer__contact{
    margin:10px;
   
}

.fa-utensils{
    padding-right:10px;
}

.fa-hands-helping{
    transform: rotate(345deg);
    font-size:15px;
}